footer {
  text-align: center;
  padding: 10px 0;
}

.copyright {
  font-size: 0.6em;
  margin: 0;
  padding-top: 10px;
}

.footer-content ul {
  padding: 0;
}

.footer-content li {
  list-style: none;
  font-size: 0.78em;
}

.footer-content a {
  color: white;
}

footer img {
  max-width: 50px;
  height: auto;
}
